<% let TEMPLATE_PATH = process.env.PWD; %> <%-include (TEMPLATE_PATH +
'/WTM-VISUALS/header/render.ejs', {TEMPLATE_PATH: process.env.PWD})%>
<!--<[WTM-HTML-BODY]-->
<%-include (TEMPLATE_PATH + "/WTM-VISUALS/manageVisual/render.ejs", {TEMPLATE_PATH:
process.env.PWD})-%>
<div>
<!--<[WTM-HTML-Inner]-->
<!--[WTM-HTML-Inner]>-->
</div>
<%-include (TEMPLATE_PATH +"/WTM-VISUALS/manageProjects/render.ejs", {TEMPLATE_PATH: process.env.PWD})-%>
<%-include (TEMPLATE_PATH +"/WTM-VISUALS/manageView/render.ejs", {TEMPLATE_PATH: process.env.PWD})-%>
 <!--[WTM-HTML-BODY]>-->
<%-include(TEMPLATE_PATH+'/WTM-VISUALS/footer/render.ejs',
{TEMPLATE_PATH:process.env.PWD})%>